@use "sass:map";
@use "../variables";
@use "../utilities";

option {
  background-color: variables.$primary;
  padding: map.get(utilities.$utilities, "padding", "values", "0-3"); 
  transition: 0.2s;
}

option:hover {
  background-color: variables.$secondary;
}

option:first-of-type {
  border-radius: variables.$base-border-radius * 8 0 0 0;
}

option:last-of-type {
  border-radius: 0 0 0 variables.$base-border-radius * 8;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option::checkmark {
  order: 1;
  margin-left: map.get(utilities.$utilities, "margin-left", "values", "auto");
  content: "☑️";
}